* {
  box-sizing: border-box;
  /* development borders */
  border-style: solid;
  border-width: 1px;
  border-color: aqua;
}

html {
  font-size: 100%;
}

body {
  background-color: white;
  font: 100%/1.5;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  margin: 1%;
}

/* width of the reading section for the single page,
that way the text doesn't stretch forever,
and phil doesn't take off points*/

.single-wrapper {
  max-width: 700px;
  margin: auto;
}

/* Unordered list class */

.navigation {
  margin: auto;
  height: 45px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 80%;
}

.single {
  margin: auto;
}

/* HEADER  */

.page-header {
  padding: 0;
  position: sticky;
}

/* Logo */

.too-white {
  fill: linen;
}

.logo-box {
  margin: auto;
  width: 50px;
}

/* Logo End */

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  height: auto;
}

.ba-info-list__item:hover {
  color: black;
}

.nav-tab {
  float: left;
}

.nav-tab {
  display: block;
  padding: 14px 16px;
}

a:hover {
  color: red;
}

.homepage-view {
  margin: 0;
  padding: 0;
  background: linen;
}

.homepage-view:hover {
  transform: rotate(1deg);
}

/* ---- IMAGES -------- IMAGES -------- IMAGES -------- IMAGES ---- */

img {
  max-width: 100%;
}

.image-home {
  width: 100%;
}

.food-home {
  margin: 0;
}

.single-title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.single-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.single-image-ingredient {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-bottom: 1px;
  /* border-style: groove;
  border-width: 1px; */
}

/* ---- IMAGES END ---- IMAGES END ---- IMAGES END ---- IMAGES END ---- IMAGES END ---- IMAGES END ----*/

/* ---- TEXT -------- TEXT -------- TEXT -------- TEXT -------- TEXT ---- */

.home-title {
  text-align: center;
}

.home-link-title {
  text-decoration: none;
  color: black;
}

.home-subtitle {
  font-size: 100%;
  text-align: center;
}

.single-caption {
  text-align: center;
}

.single-caption-subtitle {
  text-align: center;
}

.single-ingredient-caption {
  text-align: center;
}

/* ingredient unordered list class copied from blue apron */

.non-story .ba-info-list .ba-info-list .ba-info-list--stacked .col-md-4 {
  max-width: 400px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.js-IngModalLink {
  text-decoration: none;
  color: black;
  list-style-type: none;
}

.js-IngModalLink:hover {
  color: black;
  cursor: inherit;
  line-style-type:
}

/* Ingredinet items class copied */

.ba-info-list__item {
  text-decoration: none;
}

.ingredients-title {
  text-align: center;
}

.steps-title {
  text-align: center;
}

.description-title {
  text-align: center;
}

.item-description {
  padding-top: 20px;
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 27px;
  padding-left: 20px;
  padding-right: 25px;
  line-height: 150%;
}

.instructions-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instruction-text {
  padding-top: 20px;
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 27px;
  background-color: linen;
  padding-left: 20px;
  padding-right: 25px;
  line-height: 150%;
}

/* ----TEXT END--------TEXT END--------TEXT END--------TEXT END--------TEXT END---- */

/* ----Search--------Search--------Search--------Search--------Search---- */

input {
  padding: 0px 20px;
  width: 80%;
  height: 40px;
  font-size: 22px;
  position: relative;
}

.search-title {
  text-align: center;
}

.search-button {
  width: 100px;
  height: 44px;
  font-size: 100%;
  background-color: white;
  position: relative;
}

.search-button:hover {
  color: red;
  cursor: pointer;
}

/* SEARCH END ----- SEARCH END ----- SEARCH END ----- SEARCH END ----- SEARCH END ----- */

/* HELP */

.help-title {
  text-align: center;
}

.signature {
  text-align: right;
  font-size: 100%;
  padding-top: 20px;
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  /*Supports Grid*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
  background-color: white;
  margin-top: 20px;
}

/* If Grid is supported, remove the margin we set for the fallback */

@supports (display: grid) {
  .project {
    margin: 0;
  }
}

/* Monile View */

@media screen and (min-width: 1px) and (max-width: 432px) {
  .nav-tab {
    width: 100%;
    text-align: center;
  }
  /* SEARCH */
  input {
    padding: 0px 20px;
    width: 50%;
    height: 40px;
    font-size: 12px;
  }
  .search-button {
    width: 60px;
    height: 50px;
    margin: 0;
    padding: 0;
  }
  .wrapper {
    margin: 0;
  }
  /* NAVIGATION */
  .navigation {
    list-style-type: none;
    width: 100%;
    /* background-color: red; */
    text-decoration: none;
    position: relative;
  }
  /* ----------------Text--------------- */
  .item-description {
    width: 100%
  }
  .instruction-text {
    width: 100%;
  }
}

/*Tablet*/

@media screen and (min-width: 433px) and (max-width: 768px) {
  /* SEARCH */
  input {
    padding: 0px 20px;
    width: 60%;
    height: 40px;
    font-size: 22px;
  }
  /* -------------Text------------- */
}

/*Desktop*/

@media screen and (min-width: 769px) {}